<app-header></app-header>
<div class="mainContainer">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-10" align="center">
      <p>Pick an option</p>
    <button class="btn btn-success" (click)="approve(true)">Aprobado</button>
    <button class="btn btn-danger" (click)="approve(false)">Rechazado</button>
    <p *ngIf="approved" >El bicho siuuuuuuuuuuuu</p>
    <p *ngIf="!approved">Squiiiiiiiish</p>
    <p *ngFor="let number of numbers; let i = index">
      <span *ngIf="(i+1)%2 === 0">
        {{i + 1}} - {{number}}
      </span>
    </p>
    <p>type a number</p>
    <div [ngSwitch]="inputText">
      <input type="number" [(ngModel)]="inputText"/>
      <p *ngSwitchCase="1">Opcion 1</p>
      <p *ngSwitchCase="2">Opcion 2</p>
      <p *ngSwitchCase="3">Opcion 3</p>
      <p *ngSwitchCase="4">Opcion 4</p>
      <p *ngSwitchCase="5">Opcion 5</p>
      <p *ngSwitchDefault>nou</p>

    </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

